@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron, jumbotronpicture">
    <h1>What Should I Wear?</h1>
    <p class="lead">Input clothes you have in your closet and have a number of pre-set outfits so you don't ever have to skip breakfast!</p>
    @*<a class="btn btn-default" @Html.ActionLink("Go to Oufits", "Index", "Outfits")</a>*@
    
</div>

<div class="row">
    <div class="col-md-3">
        <div class="thumbnail, thumbpic1">
            <p>
                <a class="btn btn-default" @Html.ActionLink("Tops", "Index", "Tops")></a>
            </p>
        </div>
       
    </div>
        <div class="col-md-3">
            <div class="thumbnail, thumbpic2">
                <p>
                    <a class="btn btn-default" @Html.ActionLink("Bottoms", "Index", "Bottoms")</a>
                </p>
            </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail, thumbpic3">
            <p>
                <a class="btn btn-default" @Html.ActionLink("Accessories", "Index", "Accessories")</a>
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail, thumbpic4">
            <p>
                <a class="btn btn-default" @Html.ActionLink("Shoes", "Index", "Shoes")</a>
            </p>
        </div>
    </div>


</div>