@model IEnumerable<WardrobeMVC.Models.Shoe>

@{
    ViewBag.Title = "Index";
}

<h2>Pick out your shoes!</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Name) </h3>
                    <div class="shoePicture">
                        <img style="width:300px" src="@Html.DisplayFor(modelItem => item.Photo)">
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ShoeID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ShoeID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ShoeID })
                    </p>
                </div>
            </div>
        </div>
    }
</div>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShoeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShoeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShoeID })
        </td>
    </tr>
}

</table>*@
